<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="Listeners.CustomListeners"></listener>
	</listeners>
	
  <test thread-count="1" name="Test">
    <classes>
      <class name="SuiteA.TestClassAA"/>
      <class name="SuiteB.TestClassBB"/>
      <class name="SuiteB.TestClassB"/>
      <class name="SuiteA.TestClassA"/>
      <class name="SuiteC.TestClassC"/>
      <class name="SuiteC.TestClassCC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
